{% extends "home/base.html" %}


{% block content %}
{#TODO: FIX - PUT IN NEW FILE#}
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        th {
          white-space: nowrap;
        }
  </style>


    <h1>Your Duties</h1>
    <hr>
        <h2>Today</h2>
        <ul>
        {% if staff_duties %}
            {% for staff_duty, bool in staff_duties.items %}
            <li>
                {{ staff_duty }}
                {% if bool %}
                    <button id="updateButton">PRESS ME</button>
                {% endif  %}

           </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No staff duties today.</p>
        {% endif %}
    <br>

    <h2>Remainder of Week</h2>
    <ul>
        <li>TODO</li>
    </ul>
    <br>

    <h2>Next week</h2>
    <ul>
        <li>TODO - make self closing</li>
    </ul>

    <br><br>
    <h1>Staff Duties</h1>

    <br>

    {% for line in table_data %}

        <p>{{ line }}</p>

    {% endfor %}

    <br>


<script>

    document.addEventListener('DOMContentLoaded', function() {
    const updateButton = document.getElementById('updateButton');

    updateButton.addEventListener('click', function() {
        fetch('/update_duty/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Duty updated successfully');
            }
            else {
                console.log(data.status);
            }
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

</script>







{% endblock content %}