{% extends "home/base.html" %}

{% block content %}

    <h1 id="userDuties"></h1>
    <hr>
        <h2>Today</h2>
        <ul>
        {% if staff_duties %}
            {% for staff_duty, bool in staff_duties.items %}
            <li>
                {{ staff_duty }}
                {% if bool %}
                    <button id="updateButton">PRESS ME</button>
                {% endif  %}

           </li>
            {% endfor %}

        {% else %}
            <li>No staff duties today.</li>
        {% endif %}
    </ul>
    <br>

    <h2>Remainder of Week</h2>
    <ul>
        <li>TODO</li>
    </ul>
    <br>

    <h2>Next week</h2>
    <ul>
        <li>TODO - make self closing</li>
    </ul>

    <br>
    <h1>Staff Duties</h1>
    <hr>
    <div id="tableMain"></div>

    <br>


{% endblock content %}