table {
    border-collapse: collapse;
    width: 65%;
    font-size: 0.8em; /* Adjust the value as needed */
}


.hover {
  background-color: yellow;
}

.mouseDown {
    background-color: green;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

/*#updateArea {*/
/*    position: relative;*/
/*  display: block;*/
/*  margin-right: 200px;*/
/*}*/

